html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue,Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0em;
    }
    .swiper-container {
      width: 100%;
      height: 140%;
      background: #fff;
        
    }
    .swiper-slide {
      font-size: 18px;
      color:#000;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 70px 60px;
    height: 500px;
        width: auto;
    }
    .parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 130%;
      height: 150%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }
    .swiper-slide .title {
      font-size: 2.2em;
      font-weight: 300;
    }
    .swiper-slide .subtitle {
      font-size: 21px;
    }
    .swiper-slide .text {
        
      font-size: 14px;
      max-width: 500px;
      line-height: 1.3;
      text-align: justify; 
      font-weight: 300;

    }
        
}

.container_open {
    position: fixed !important;
    display: block;
    height: bottom;
}
        .starter{
    position:relative;
    top:150px;
  }
  .vjs-fluid {
        padding-top: 56.25%;
      }
@media screen and (max-width: 1280px){
   .swiper-container {
      width: 100%;
      height: 140%;
      
    }
    .swiper-slide {
      font-size:medium;
     
      padding: 70px 60px;
      height: 50%;
        width: auto;
    }
    .parallax-bg {
     
      width: 130%;
      height: 150%;
   
    }
    .swiper-slide .title {
      font-size: x-large;
      font-weight: 300;
     
    }
    .swiper-slide .subtitle {
      font-size:medium;
    }
    .swiper-slide .text {
        
      font-size:small;
      max-width: 50%;
      line-height: 1.3;
      text-align: justify; 
      font-weight: 300;

    }
        .starter{
    position:relative;
    top:15%;
  }
  .vjs-fluid {
        padding-top: 56.25%;
      } 
      
        .menu {
   text-align: center;
   margin-top: 10px;
}
#m_nav_list {
    list-style: none;
    margin: 1.8em 0 0;
}

.menu a {
   display: inline;
}

. li {
   float: none;
   display: inline;
}

      
}
@media screen and (max-width: 768px){
   .swiper-container {
      width: 50%;
      height: 140%;
        display: block; 
      
    }
    #m_nav_list {
    list-style: none;
    margin: 1.8em 0 0;
}
        img {
      max-width: 100%;
      height: auto;
    align-items: center;        
    }
    .swiper-slide {
      font-size: 2%;
     
      padding: 70px 60px;
      height: 50%;
        width: auto;
    }
    .parallax-bg {
     
      width: 130%;
      height: 150%;
   
    }
    .swiper-slide .title {
      font-size: 20%;
     
    }
    .swiper-slide .subtitle {
      font-size: 2%;
    }
    .swiper-slide .text {
        
      font-size: 1.5%;
      max-width: 50%;
      line-height: 1.3;
      text-align: justify; 
      font-weight: 300;

    }
        .starter{
    position:relative;
    top:150px;
  }
  .vjs-fluid {
        padding-top: 56.25%;
      } 
}
-- //to-top --*

@media screen and (max-width: 1050px){
  #m_nav_menu {
    right: 3.5%;
    top:4.6%;
  }
}
@media screen and (max-width: 1024px){
  #m_nav_menu {
    right:2.8%;
  }
  .banner_text_w3layouts {
    padding: 14em 0 20em;
  }
  .contact-left {
    padding: 3em;
  }
  #m_nav_menu {
    right: 12%;
    top: 4.6%;
  }
  .m_nav_item {
    margin: 0 1em;
  }
}
@media screen and (max-width: 991px){
  #m_nav_menu {
    right: 12%;
    top: 4.6%;
  }
  .m_nav_item {
    margin: 0 1em;
  }