body {
    font-family: "Open Sans",Verdana,Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
/***************************/

.blackBorder{
  border: 1px solid black;
}

.background-container {
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}
#video-background {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}
.content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 10;
    background:linear-gradient(to right,#2050d4f5,#e3f4ef);
}
/*************************/
/*Global*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

button {
    height: 38px;
    background: #e51c23;
    color: #ffffff;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
}
button:hover {
    background: #cc0000;
    cursor: pointer;
}
/*******/

header {
    text-align: center;
    border-radius: 10px;
    padding-top: 30px;
    min-height: 70px;
    margin: 20px 150px 20px 150px;
    font-size: x-large;
    background: rgba(0, 0, 0, 0.5);
}
header a {
    color: #bdbdbd;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
header .hightlight,
header .current a {
    color: #e51c23;
    font-weight: bold;
}
header a:hover {
    color: white;
    font-weight: bold;
}
/********************************/
/********************************/

.container_login {
    width: 80%;
   
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 78px;
    border-radius: 10px;
}

/********************************/

/*******************************/
/*Responsiveness*/

@media (max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    .main-column,
    #sidebar,
  .card,
  #listContainer,
  #profileContainer{
        float: none;
        text-align: center;
        width: 100%;
    }
  #listContainer{
    margin-top: 40px;
  }
  .card:hover{
    margin: 0;
  }
    header {
        padding-bottom: 20px;
    }
    #banner h1 {
        margin-top: 40px;
    }
    #newsletter button,
    .connect button {
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"],
    .connect input,
    .connect textarea {
        width: 100%;
        margin-bottom: 5px;
    }
    #boxes .box {
        margin-bottom: 25px;
    }
}

.open-button {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  margin: 10px;
  border: 8px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}